.App {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.App form {
  width: fit-content;
  width: 90%;
  max-width: 30rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.App textarea {
  height: 10rem;
  width: 20rem;
  padding: 0.25rem;
}

.App button {
  background-color: hsl(0, 0%, 0%, 0.85);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;

  color: hsl(0, 0%, 100%);
  font-size: 1rem;
}

.App ul {
  position: relative;
}

.App li {
  background-color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 0%);
  width: 10rem;
  margin-block: 0.25rem;
  padding: 0.25rem;
  min-width: fit-content;
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.App li:nth-child(1),
.App li:nth-child(2),
.App li:nth-child(3) {
  font-weight: bold;
}

.App li:nth-child(1)::before {
  position: absolute;
  content: '1st place';
  left: -50%;
}

.App li:nth-child(2)::before {
  position: absolute;
  content: '2nd place';
  left: -55%;
}

.App li:nth-child(3)::before {
  position: absolute;
  content: '3nd place';
  left: -55%;
}

@media (min-width: 500px) {
  .App textarea {
    width: 30rem;
  }
}
