.App {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.App textarea {
  height: 100px;
  width: 500px;
}

.App ul {
  margin-block: 1rem;
}

.App li {
  width: 8rem;
  min-width: fit-content;
  display: flex;
  justify-content: space-between;
  text-align: right;
}
